<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>350406589617-r9lkt2j4e68prefpvtptmtqtaksej9bh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.350406589617-r9lkt2j4e68prefpvtptmtqtaksej9bh</string>
	<key>API_KEY</key>
	<string>AIzaSyDoKILju72NNYP6zRa8IoeA6FyDYnF-6Tg</string>
	<key>GCM_SENDER_ID</key>
	<string>350406589617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Venture.VentureApplication</string>
	<key>PROJECT_ID</key>
	<string>venture-822c3</string>
	<key>STORAGE_BUCKET</key>
	<string>venture-822c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:350406589617:ios:660e732243e46351913690</string>
</dict>
</plist>